<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="localhost_SISERPSME2024_SIS_Connection" connectionString="XpoProvider=MSSqlServer;data source=192.168.0.5\sql2k8online;user id=laptrinh;password=Abc@123321!%;initial catalog=SISERPSME2024_SIS;Persist Security Info=true" />
    </connectionStrings>
</configuration>