.search[b-ipeio5s2x7] {
    padding: 0.25rem;
    position: relative;
    min-width: 123px;
}

.search .search-input[b-ipeio5s2x7] {
    padding-right: calc(24px+0.5rem);
}

.search .search-button[b-ipeio5s2x7] {
    right: 0px;
    top: 0px;
    pointer-events: auto;
    z-index: 3;
    width: auto;
    display: flex;
    align-items: center;
    height: 100%;
    position: absolute;
    color: gray;
}

.search .search-button .search-icon[b-ipeio5s2x7] {
        background-color: currentColor;
        width: 24px;
        height: 24px;
        mask-image: url("images/Search.svg");
        -webkit-mask-image: url("images/Search.svg");
}

.frmborder[b-ipeio5s2x7] {
    margin: 10px;
    padding: 10px;
    border: 0.5px solid LightGray;
    border-radius: 5px;
    display: inline-block;
}
.alter[b-ipeio5s2x7]{
    text-align:center;
    color:orangered;
    width:stretch;
}
.btnokcancel[b-ipeio5s2x7] {
    width: 8vw;
    height: 3vh;
    margin: 0.25rem;
}
.cap-item[b-ipeio5s2x7] {
    font-weight:bold;
    color:skyblue
}

